%h2 Customer Site

- if current_user.has_role?(:admin, @file_attachment)
  = link_to "Add File Attachment", new_file_attachment_path(:user_id => @user.id)
%br
%br

- @user.file_attachments.each do |file_attachment|
  = link_to file_attachment.attachment_file_file_name, file_attachment_path(file_attachment.id)
%br      
%br
= link_to 'Change Password', edit_user_path
