        <div id="internal-title">	
	      <h2 class="typeface-js" style="font-family:"greyscalebasic";">About Us</h2>
        </div>
	      <p>Isotope11 is a software development company which specializes in developing web based software applications.  It was founded in 2005 by Laird Foret and is primarily focused on developing software on Linux based platforms using Ruby on Rails (RoR). Our expert skill sets also include e-commerce and financial applications, social networking applications (facebook), database architectures, graphic design, user interfaces and much more.</p>
          <p> Our clients range from small businesses to large financial firms, insurance companies as well as government agencies. We believe in transparent development and in keeping our clients informed about each project’s status. To that end, we employ many technologies to keep our client informed in near real-time and practice the AGILE methodology of development which includes constant communication and deliverables. We strive to build long term relationships and to deliver software on time and on target.
 </p>   
 		<br/>
 		<!--h2>Meet The Team</h2>
        <br/>
        
        <div class="profile">
        <h3>Laird Foret</h3>
        <h5>Principal</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id dolor consectetur diam cursus malesuada. Quisque sed arcu sit amet est consequat luctus ut eget elit. Cras eu ante nibh, sed tincidunt neque. Quisque pulvinar volutpat ornare. Proin ultrices purus nec leo pretium non pulvinar dolor faucibus. </p>
        </div>
        <div class="profile-pic">
        <img src="images/about-bg.png"  />
        </div>
        

		<br />
        
        <div class="profile">
        <h3>Josh Adams</h3>
        <h5>Principal</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id dolor consectetur diam cursus malesuada. Quisque sed arcu sit amet est consequat luctus ut eget elit. Cras eu ante nibh, sed tincidunt neque. Quisque pulvinar volutpat ornare. Proin ultrices purus nec leo pretium non pulvinar dolor faucibus. </p>
		</div>
        <div class="profile-pic">
        <img src="images/about-bg.png"  />
        </div>
        
        <div class="profile">
        <h3>James T. Cook</h3>
        <h5>Senior Developer</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id dolor consectetur diam cursus malesuada. Quisque sed arcu sit amet est consequat luctus ut eget elit. Cras eu ante nibh, sed tincidunt neque. Quisque pulvinar volutpat ornare. Proin ultrices purus nec leo pretium non pulvinar dolor faucibus. </p>
        </div>
        <div class="profile-pic">
        <img src="images/about-bg.png"  />
        </div>
       
       
        <div class="profile">
        <h3>Nick Fine</h3>
        <h5>Developer</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id dolor consectetur diam cursus malesuada. Quisque sed arcu sit amet est consequat luctus ut eget elit. Cras eu ante nibh, sed tincidunt neque. Quisque pulvinar volutpat ornare. Proin ultrices purus nec leo pretium non pulvinar dolor faucibus. </p>
        </div>
        <div class="profile-pic">
        <img src="images/about-bg.png"  />
        </div>

 		<div class="profile">
        <h3>Adam Dill</h3>
        <h5>Senior Developer</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id dolor consectetur diam cursus malesuada. Quisque sed arcu sit amet est consequat luctus ut eget elit. Cras eu ante nibh, sed tincidunt neque. Quisque pulvinar volutpat ornare. Proin ultrices purus nec leo pretium non pulvinar dolor faucibus. </p>
        </div>
        <div class="profile-pic">
        <img src="images/about-bg.png"  />
        </div>


		<div class="profile"> 
        <h3>Robby Clements</h3>
        <h5>Developer</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id dolor consectetur diam cursus malesuada. Quisque sed arcu sit amet est consequat luctus ut eget elit. Cras eu ante nibh, sed tincidunt neque. Quisque pulvinar volutpat ornare. Proin ultrices purus nec leo pretium non pulvinar dolor faucibus. </p>
        </div>
        <div class="profile-pic">
        <img src="images/about-bg.png"  />
        </div>
        
        <div class="profile">
        <h3>Mike Heitzke</h3>
        <h5>Designer</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id dolor consectetur diam cursus malesuada. Quisque sed arcu sit amet est consequat luctus ut eget elit. Cras eu ante nibh, sed tincidunt neque. Quisque pulvinar volutpat ornare. Proin ultrices purus nec leo pretium non pulvinar dolor faucibus. </p>
        </div>
        <div class="profile-pic">
        <img src="images/about-bg.png"  />
        </div>


        <div class="profile">
        <h3>Adam Gamble</h3>
        <h5>Developer</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id dolor consectetur diam cursus malesuada. Quisque sed arcu sit amet est consequat luctus ut eget elit. Cras eu ante nibh, sed tincidunt neque. Quisque pulvinar volutpat ornare. Proin ultrices purus nec leo pretium non pulvinar dolor faucibus. </p>
        </div>
        <div class="profile-pic">
        <img src="images/about-bg.png"  />
        </div>


        <div class="profile">
        <h3>Bradley Price</h3>
        <h5>Developer</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id dolor consectetur diam cursus malesuada. Quisque sed arcu sit amet est consequat luctus ut eget elit. Cras eu ante nibh, sed tincidunt neque. Quisque pulvinar volutpat ornare. Proin ultrices purus nec leo pretium non pulvinar dolor faucibus. </p>
        </div>
        <div class="profile-pic">
        <img src="images/about-bg.png"  />
        </div-->
