- content_for :title do
  Careers &ndash; Isotope11
 
#internal-title	
  %h2{:class => "typeface-js"}
    Careers

%h5
  RoR Developer

%ul.career
  %li * Rails / Ruby 
  %li * Linux 
  %li * Test Driven Development 
  %li * Web based Development 
  %li * PHP 
  %li * MySQL 
  %li * HTML, CSS 
  %li * Deployment protols 
  %li * Experience with version control systems (SVN, GIT, etc) 

%p  Great easy going workplace environment and compensation package!!! 

%p We are offering $16-$20 per hour to START, however we plan to provide quick raises based on performance. 

%p We do have full benefits including health, life, short and long term disability. Sick and vacation paid time. 

%p We also have very aggressive profit sharing, bonus and commission structures in place.. We all share in our success!! 

%p
  Please email resumes and/or portfolios to 
  %a{:href => "mailto:laird@isotope11.com"}
    laird@isotope11.com 

