#project-top
  &nbsp;
#content-wrap
  #content-home
    #project-slider
      #header-slide
        .wrap
          #slide-holder
            #slide-runner
              %a{:href => "/home/work_financial"}
                %img{:id => "slide-img-1", :src => "images/fader-1.jpg", :class => "slide", :alt => ""}
              %a{:href => "/home/work_aiua"}
                %img{:id => "slide-img-3", :src => "images/fader-3.jpg", :class => "slide", :alt => ""}
              %a{:href => "/home/work_sportgraphics"}
                %img{:id => "slide-img-4", :src => "images/fader-4.jpg", :class => "slide", :alt => ""}
              #slide-controls
                %p{:id => "slide-client", :class => "text"}
                  %strong
                    Client:&nbsp;
                    %span
                %p{:id => "slide-desc", :class => "text"}
                %p{:id => "slide-nav"}
    <!--content featured gallery here -->
    <script type="text/javascript">
    if(!window.slider) var slider={};slider.data=[{"id":"slide-img-1","client":"Financial Services","desc":""},{"id":"slide-img-3","client":"AIUA","desc":""},{"id":"slide-img-4","client":"Sportgraphics","desc":""}];
    </script>
