<div id="project-top">&nbsp;</div>
  <div id="content-wrap">
    <div id="content-home">
      <div id="project-slider">
        <div id="header-slide"><div class="wrap">
<div id="slide-holder">
<div id="slide-runner">
<a href="work-insight.html"><img id="slide-img-1" src="images/fader-1.jpg" class="slide" alt="" /></a>
<a href="work-aiua.html"><img id="slide-img-3" src="images/fader-3.jpg" class="slide" alt="" /></a>
<a href="work-sportgraphics.html"><img id="slide-img-4" src="images/fader-4.jpg" class="slide" alt="" /></a>
<div id="slide-controls">
 <p id="slide-client" class="text"><strong>Client:&nbsp;</strong><span></span></p>
 <p id="slide-desc" class="text"></p>
 <p id="slide-nav"></p>
</div>
</div>
<!--content featured gallery here -->
</div>
<script type="text/javascript">
if(!window.slider) var slider={};slider.data=[{"id":"slide-img-1","client":"Insight Card Services","desc":""},{"id":"slide-img-3","client":"AIUA","desc":""},{"id":"slide-img-4","client":"Sportgraphics","desc":""}];
</script>
</div></div>        
                </div>
      </div>
    </div>
  </div>
