- content_for :title do 
  Financial Services &ndash; Work &ndash; Isotope11

#internal-title	
  %h2{:class => "typeface-js"}
    Financial Services
  %img{:src => "/images/insight.png", :class => "img-right", :alt => "work thumb"}
%p
  Financial Services is a leading provider of financial solutions for the millions of overlooked consumers who lack a traditional bank account. It provides consumers with a broad spectrum of products and services that address the reality of their financial lives. The company’s financial literacy tools equip cardholders to successfully manage money while empowering them to take control of their financial lives.
%p
  %a{:href => "/home/work"}
    Back to Work
