- content_for :title do
  In The Making &ndash; Work &ndash; Isotope11

#internal-title	
  %h2{:class => "typeface-js"}
    In the Making
%img{:src => "/images/itm.png", :class => "img-right", :alt => "work image"} 
%p
  ShopITM.com is a 5000+ item online store specializing in knitting items.
%p
  %a{:href => "/home/work"}
    Back to Work

