       <div id="internal-title">	
	      <h2 class="typeface-js">aColleague</h2>
          <img src="/images/colleague.png" class="img-right" alt="work image" />
        </div>
	      	      <p>aColleague.com does something outrageous. We've made professional placement *advertiser-supported*. Advertisers pay us. Dental professionals do not. There   IS   no   catch. Find a job. Fill a job. Or sell a practice. No charge, ever. All staff. All positions. All specialties. The U.S. and Canada. It's all about search. Search for the perfect job, employee, practice for sale, or old and new colleagues. If your search does not produce an instant match, create an 'alert'. Dentistry's best search engine will remain perpetually vigilant, always watchful, ready to email you the moment there IS a perfect match. The question is when, *not if*, we'll find who, or what you're looking for.</p>
                  
                                    <p><a href="work.html">Back to Work</a></p>

