- content_for :title do
  AIDT &ndash; Work &ndash; Isotope11

#internal-title	
  %h2{:class => "typeface-js"}
    AIDT
%img{:src => "/images/aidt.png", :class => "img-right"}
%p
  AIDT was established by the Alabama State Legislature in June, 1971 and  was established to build a healthy state economy by recruiting and training a skilled workforce to attract new industries to the state and to expand existing industries. Job-specific pre-employment and on-the-job training programs are provided. The program provides a full range of customized technical training programs that are offered at no cost to employers and to the trainees.  Leadership training programs are also available.  In addition to training,  AIDT offers services including trainee recruitment and screening, safety assistance, industrial maintenance assessments and continuous improvement/process improvement assessments.  Training is conducted by AIDT staff or contracted instructors and delivered through classrooms or 38 Mobile Training Units (MTUs) customized to meet specific company needs.  MTUs go directly to the employer site to provide classroom and hands-on training.
%p
  %a{:href => "/home/work"}
    Back to Work

