- content_for :title do
  Creative Catering &ndash; Work &ndash; Isotope11

#internal-title	
  %h2{:class => "typeface-js"}
    Creative Catering
%img{:src => "/images/catering.png", :class => "img-right", :alt => "Work Image"} 
%p
  Creative Catering has a distinct focus on creative menus and decor to create visual image and ambiance of the desired event. Our full service catering shop specializes in creative menus and beautifully presented foods to fit your budget. Let us add a personal touch to your next event.  Serving Birmingham, AL and surrounding areas.</p>
%p
  %a{:href => "/home/work"}
    Back to Work

