- content_for :title do
  Work &ndash; Isotope11
 
#internal-title	
  %h2{:class => "typeface-js"}
    Work
%h4{:class => "casestudy"}
  Financial Services
%a{:href => "work_financial"}
  %img{:src => "/images/casestudy-insight.png", :alt => "Insight Card Services"} 
%hr
%h4{:class => "casestudy"}
  AIUA 
%a{:href => "work_aiua"}
  %img{:src => "/images/casestudy-aiua.png", :alt => "AIUA"} 
%hr 
%h4{:class => "casestudy"}
  Sportgraphics
%a{:href => "work_sportgraphics"}
  %img{:src => "/images/casestudy-sportgraphics.png", :alt => "Sportgraphics"} 
%hr 
%h3
  Financial
.work-thumb
  %h4
    Financial Services
  %a{:href => "work_financial"}
    %img{:src => "/images/work-insight.png", :alt => "Insight thumb"} 
%br.clear
%hr
%h3
  Government
.work-thumb
  %h4
    AIDT
  %a{:href => "work_aidt"}
    %img{:src => "/images/work-aidt.png", :alt => "AIDT thumb"} 
%br.clear
%hr 
%h3
  Retail
.work-thumb
  %h4
    Deep South Fibers
  %a{:href => "work_deep_south_fibers"}
    %img{:src => "/images/work-dsf.png", :alt => "Deep South Fibers thumb"} 
.work-thumb
  %h4
    Creative Catering
  %a{:href => "work_creative_catering"}
    %img{:src => "/images/work-catering.png", :alt => "Creative Catering thumb"}
.work-thumb
  %h4
    In the Making
  %a{:href => "work_in_the_making"}
    %img{:src => "/images/work-itm.png", :alt => "Shop ITM thumb"} 
%br.clear
%hr 
%h3
  Social Media
.work-thumb
  %h4
    aColleague
  %a{:href => "work_acolleague"}
    %img{:src => "/images/work-acolleague.png", :alt => "AColleague thumb"} 
.work-thumb
  %h4
    LuvNotes
  %a{:href => "work_luvnotes"}
    %img{:src => "/images/work-luvnotes.png", :alt => "LuvNotes thumb"} 
%br.clear
%hr 
%h3
  Miscellaneous
.work-thumb
  %h4
    Maralyn Wilson Gallery
  %a{:href => "work_maralyn_wilson"}
    %img{:src => "/images/work-mwg.png", :alt => "Maralyn Wilson Gallery thumb"}
.work-thumb
  %h4
    AIUA
  %a{:href => "work_aiua"}
    %img{:src => "/images/work-aiua.png", :alt => "AIUA thumb"} 
.work-thumb
  %h4
    The Political Inquirer
  %a{:href => "work_political_inquirer"}
    %img{:src => "/images/work-inquirer.png", :alt => "The Political Inquirer thumb"} 
.work-thumb
  %h4
    Sportgraphics
  %a{:href => "work_sportgraphics"}
    %img{:src => "/images/work-sportgraphics.png", :alt => "Sportgraphics thumb"} 
