- content_for :title do
  AIUA &ndash; Work &ndash; Isotope11


#internal-title	
  %h2{:class => "typeface-js"}
    AIUA
%img{:src => "/images/aiua.png", :class => "img-right", :alt => "work-image"}
%p
  We integrated with Google Maps and Yahoo!'s geolocating service to provide a mechanism to determine the zone a given address is in without leaving the website. Boundaries for the zones are KML files.
%p
  %a{:href => "/home/work"}
    Back to Work

