- content_for :title do
  LuvNotes &ndash; Work &ndash; Isotope11

#internal-title	
  %h2{:class => "typeface-js"}
    LuvNotes
%img{:src => "/images/luvnotes.png", :class => "img-right", :alt => "work image"}
%p
  Welcome to Luvnotes, the all-occasion card application! Now you can send tasteful and personalized cards to either individuals or groups, or use our RSVP feature to set up a party! Send a congratulations card to a friend, announce an engagement, or greet someone on their birthday. Your friends will appreciate receiving a beautiful card personalized with your own message-your message, your way!
%p
  %a{:href => "/home/work"}
    Back to Work

